@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


[x-cloak] { display: none !important; }

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track{
    background: #2D3748;
}

::-webkit-scrollbar-thumb{
    background: #CBD5E0;
}

::-webkit-scrollbar-thumb:hover{
    background: #718096;
}
*{font-family: 'Fira Sans', sans-serif;}
.bold{font-weight:bold;}
.italic{font-style: italic;}
.oblique{font-style: oblique;}
.logo-image{
    font-family: "Fira Sans", serif;
    color:#383838;
    font-weight: 600;

}
